{% extends "base.html" %}
{% set active_page = "college" %}

{% block title %}Grades{% endblock %}
{% from "_render_field.html" import render_field, render_string_field %}

{% block content %}

    <h1 class="mt-5 text-center">Texas A&M Grade Distribution</h1>
    <br/>
    <div class="text-center border border-light p-5 mb-5">

        <p class="h4 mb-4">Sort by college, year and semester</p>

        <p class="mb-5">Know which courses to take and avoid!</p>

        <!-- College -->
        <form class="mt-5" method="GET" action="/colleges/results" id="form_results">

            <!-- College -->
            <div class="form-group mx-3">
                {{ render_field(form.college, placeholder=form.college.label.text) }}
            </div>

            <div class="form-row">
                <!-- Semester -->
                <div class="form-group col-md mx-3 mt-3 mb-1">
                    {{ render_field(form.semester, placeholder=form.semester.label.text) }}
                </div>

                <!-- Year -->
                <div class="form-group col-md mx-3 mt-3 mb-1">
                    {{ render_field(form.year, placeholder=form.year.label.text) }}
                </div>
            </div>

            <!-- Send button -->
            <div class="form-group mb-1">
                <button class="btn btn-info mt-4 px-auto" type="submit">Search</button>
            </div>

        </form>

    </div>

    {% if grade_results == None %}
        <!-- <p>use the above form to get data</p> -->
    {% else %}
        {% if grade_results|length == 0 %}
{#            <h1 class="text-center">No results.</h1>#}
        {% else %}

            <h1 class="mb-5">Stats
                for {{ form.college.data.capitalize() }}, {{ form.semester.data.capitalize() }} {{ form.year.data }}</h1>



            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Department</th>
                    <th class="th-sm">Course / Section</th>
                    <th class="th-sm">A</th>
                    <th class="th-sm">B</th>
                    <th class="th-sm">C</th>
                    <th class="th-sm">D</th>
                    <th class="th-sm">F</th>
                    <th class="th-sm">GPA</th>
                    <th class="th-sm">Instructor</th>
                </tr>
                </thead>
                <tbody>
                {% for grade in grade_results %}
                    <tr>
                        <td>{{ grade.department }}</td>
                        <td>{{ grade.course }} - {{ grade.section }}</td>
                        <td>{{ grade.amount_a }}
                            <div class="text-muted">({{ "%.2f"|format(grade.percent_a) }}%)</div>
                        </td>
                        <td>{{ grade.amount_b }}
                            <div class="text-muted">({{ "%.2f"|format(grade.percent_b) }})%</div>
                        </td>
                        <td>{{ grade.amount_c }}
                            <div class="text-muted">({{ "%.2f"|format(grade.percent_c) }})%</div>
                        </td>
                        <td>{{ grade.amount_d }}
                            <div class="text-muted">({{ "%.2f"|format(grade.percent_d) }})%</div>
                        </td>
                        <td>{{ grade.amount_f }}
                            <div class="text-muted">({{ "%.2f"|format(grade.percent_f) }})%</div>
                        </td>
                        <td>{{ "%.3f"|format(grade.gpa) }}</td>
                        <td>
                            <a href="{{ url_for('professors.professors', professor=grade.professor) }}">{{ grade.professor }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Department</th>
                    <th>Course</th>
                    <th>Section</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>F</th>
                </tr>
                </tfoot>
            </table>
        {% endif %}
    {% endif %}
    <br/>


{% endblock %}

