<div>
    <canvas id="gradeDistChart"></canvas>
</div>

<script>
    // Bar chart
    new Chart(document.getElementById("gradeDistChart"), {
        type: 'bar',
        data: {
            labels: ['A', 'B', 'C', 'D', 'F', 'Q-drop'],
            datasets: [
                {
                    label: "Total Grade Distribution (percentage)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#8a1806"],
                    data: [{{ averages.percent_a * 100 }}, {{ averages.percent_b * 100 }}, {{ averages.percent_c * 100 }},
                        {{ averages.percent_d * 100 }}, {{ averages.percent_f * 100 }}, {{  averages.percent_q * 100 }}]
                }
            ]
        },
        options: {
            legend: {display: false},
            title: {
                display: true,
                text: 'Grade distribution bar chart'
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        label: (item) =>
                            `${item.dataset.label}: ${item.formattedValue}%`,
                    }
                }
            }
        }
    });
</script>