<nav class="navbar navbar-expand-lg navbar-dark unique-color mb-4 ">

    <div class="d-flex container-fluid justify-content-between">

        <!-- Navbar brand -->

        <div class="flex-even">
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                {% set active_page = active_page|default('college') -%}

                <!-- Links -->
                <ul class="navbar-nav mr-auto text-nowrap">
                    <li class="nav-item {% if active_page == 'college' %} active {% endif %} ml-4">
                        <a class="nav-link" href="{{ url_for('colleges.colleges_home') }}"><i
                                class="fas fa-university mr-1"></i>
                            College
                            {% if active_page == 'college' %} <span class="sr-only">(current)</span> {% endif %}

                        </a>
                    </li>
                    <li class="nav-item {% if active_page == 'professor' %} active {% endif %} ml-4">
                        <a class="nav-link" href="{{ url_for('professors.professors_home') }}"><i
                                class="fas fa-user-tie mr-1"></i>
                            Professor
                            {% if active_page == 'professor' %} <span class="sr-only">(current)</span> {% endif %}

                        </a>
                    </li>
                    <li class="nav-item {% if active_page == 'courses' %} active {% endif %} ml-4">
                        <a class="nav-link" href="{{ url_for('courses.courses_home') }}"><i
                                class="fas fa-book-reader mr-1"></i>
                            Courses
                            {% if active_page == 'courses' %} <span class="sr-only">(current)</span> {% endif %}

                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="flex-even">
            <div class="text-center">
                <a class="navbar-brand" href="/">
                    TAMU
                    <img src="{{ url_for('static', filename='logo_white.svg') }}" height="30px" alt="website logo">
                    Grades
                </a>
            </div>

        </div>

        <div class="flex-even">
            <div class="float-right">
                {% if active_page != 'none' %}
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item" data-toggle="modal" data-target="#aboutModal">
                            <a class="nav-link waves-effect waves-light">
                                <i class="far fa-question-circle"></i>
                            </a>
                        </li>
                        <li class="nav-item ml-2" data-toggle="modal" data-target="#copyModal">
                            <a class="nav-link waves-effect waves-light">
                                <i class="fas fa-link"></i>
                            </a>
                        </li>
                    </ul>


                    <!-- Copy Modal -->
                    <div class="modal fade" id="copyModal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-notify modal-success" role="document">
                            <!--Content-->
                            <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header">
                                    <p class="heading lead">Share this page</p>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text">&times;</span>
                                    </button>
                                </div>

                                <!--Body-->
                                <div class="modal-body">
                                    <div class="text-center">
                                        <i class="fas fa-share fa-4x mb-3 animated rotateIn"></i>
                                        <div class="text-center">
                                            <label for="page-link">Share a link to this page:</label><textarea
                                                id="page-link"
                                                class="form-control rounded-0 textarea-non-resize"
                                                rows="1"
                                                readonly>{{ g.url }}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                    <a type="button" class="btn btn-success" onclick="copyToClipboard()"
                                       data-dismiss="modal">Copy
                                        <i
                                                class="fas fa-link ml-1 text-white"></i></a>
                                    <a type="button" class="btn btn-outline-success waves-effect"
                                       data-dismiss="modal">Back</a>
                                </div>
                            </div>
                            <!--/.Content-->
                        </div>
                    </div>

                    <!-- About Modal -->
                    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">About</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body mb-3">
                                    <h1 class="mt-5 text-center">About this website</h1>
                                    <hr/>
                                    <section class="text-center px-3 pb-3">
                                        <p>
                                            This website is for viewing historical grade distributions from various
                                            colleges at Texas A&M University. Search for records through colleges, professors, or particular courses.
                                        </p>
                                        <p>
                                            Professional colleges are not included in this database. Additionally,
                                            certain semesters do not have
                                            records of grade distributions.
                                        <p>
                                            The grade distribution data comes from the Office of the Registrar from
                                            Texas A&M University. All data used
                                            for this webpage was publicly accessed from the registrar.
                                        </p>

                                        <p class="mb-0">In the interests of FERPA (Family Education Rights and
                                            Privacy Act) and the protection of
                                            student privacy, course sections with an enrollment of less than five
                                            are not included in the reports.
                                        </p>
                                        <p> This website is self-maintaining, so as soon as future records are
                                            submitted by
                                            the registrar, the database will
                                            also be automatically updated.
                                        </p>

                                        This service is not affiliated with any part of Texas A&M University.
                                    </section>
                                </div>
                                <div class="modal-footer">
                                    <a type="button" class="btn btn-secondary"
                                       href="https://web-as.tamu.edu/GradeReports/" target="_blank">Official
                                        Registrar</a>
                                    <a type="button" class="btn btn-dark"
                                       href="https://github.com/asiddiqi18/GradeDistroTamuApp"
                                       target="_blank">GitHub</a>
                                    <a type="button" class="btn btn-blue-grey" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>


                {% endif %}</div>
        </div>
    </div>
</nav>