table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

/* body {
    background-color: red;
    color: blue;
} */

.link-backdrop {
    background-color: red;
}

.textarea-non-resize {
    resize: none;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

div#loading {
    display: none;
    cursor: wait;
}

.border-blue-grey {
    border-color: #607d8b !important;
}
